<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<RunConfiguration>
		<MaxCpuCount>4</MaxCpuCount>
	</RunConfiguration>
  <TestRunParameters>
    <Parameter name="BaseUrl" value="https://demo.spreecommerce.org/us/en" />
    <Parameter name="Browser" value="chrome" />
    <Parameter name="Headless" value="true" />
    <Parameter name="SlowMo" value="2000" />
    <Parameter name="DefaultTimeout" value="30000" />
	<Parameter name="Environment" value="Staging" />
  </TestRunParameters>
</RunSettings>